*, ::after, ::before {
    box-sizing: border-box;
}

html{
    min-height: 100%;
    position: relative;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
body{
    margin: 0;
    color:#232323;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container{
    max-width: 1140px;

}
.container--header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container::after,.container::before{
    content: '';
    display: table;
}
.container::after{
    clear: both;
}
a{
    text-decoration: none;
}
.list {
    padding: 0;
}
.list--type1{
    list-style: none;
}
.header{
    background-color: #343a40;
 }
.header__logo{
    font-size: 20px;
    color: #FFFFFF;
}
.header__topbar{
    margin-left: auto;
}
.header__topbar-item{
    display: inline-block
}
.header__top-link{
    display: block;
    color: #FFFFFF;
    padding: .5rem;
}
.block{
    padding: 64px 32px;
}
.block__title{
    font-weight: 600;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.block__content{
    font-size: 1.2rem;
}
.block--hero{
    background: url(../images/bg-1.jpg) no-repeat center;
    background-size: cover;
}
.block--hero .block__title{
    color: #ffffff;
    margin-bottom: 1rem;
    font-size: 4.5rem;
}
.block--hero .block__content{
    color:#ffffff;
}
.service{
    float: left;
    width:100%;
}
.service__item{
    width: 33.33333%;
    float: left;
    padding: 0 15px;
}
.service__item-title{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

